article img { max-width: 100% }

.invisible { display: none; }

.btn {
    position: relative;
    background-color: #F2D360;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover{
  border-left : 5px groove #50D2F2;
}

.btn-large {font-size:16pt;}
.btn-larger {font-size:24pt;}
.green {background-color:#8AD95F;}
.blue{background-color:#03318C;}
.red{background-color:#F22E3E;}
.light-blue{background-color:#0F9BF2;}
.orange{background-color:#F25632;}
