{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base04">t</span><span class="base07">o</span><span class="base08">p</span><span class="base09">s</span><span class="base0a">c</span><span class="base0b">h</span><span class="base0c">o</span><span class="base0d">o</span><span class="base0e">l</span><span class="base05">]</span>
  <span class="base05">blog</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  Online onderwijs voor kinderen op de basisschool met talent voor leren.
  Hier bloggen wij over hoogbegaafdheid, onderwijs, en veranderingen aan de website.
  De Digitale Topschool vind je op <a href="https://www.dedigitaletopschool.nl/" target="_blank">www.dedigitaletopschool.nl</a>.
</div>
